src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	    <flow name="post:\cases:application\json:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="885f9aff-3fdf-4914-bc10-f60b5492a377" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start Log" doc:id="cf555262-50dd-4efc-b187-9da8f2f6e23b" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Started register covid case flow, payload: #[payload]'/>
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="a1fe1ece-13f9-4a60-bca1-e7cc2c2bb202" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var currentDate = now() as String { format: "yyyy-MM-dd" }
---
{
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: currentDate,
	update_date: currentDate,
	create_by: "UHIS",
	update_by: "UHIS"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="insert-covid-case-sub-flow" doc:id="4ef78487-52d1-4d21-a100-15d0209151b4" name="insert-covid-case-sub-flow"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload[0].CASE_ID as String
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="5def1911-ceda-4d96-9cab-0f7658baa48e" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Completed register covid case flow, payload: #[payload]"'/>
    
</flow>
	
	</mule>
